<launch>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find rplvo_launch)/rosconsole.config"/>

  <arg name="parameter_file" type="string" default="mono_parameters.yaml" />

  <node pkg="rplvo_mono" type="mono" name="mono" output="screen">
    <rosparam file="$(find rplvo_mono)/param/mono_parameters.yaml" command="load" />
  </node>

</launch>
